/*html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navegacion {
    background-color: rgb(238, 57, 12);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.contenido-footer {
    background-color: rgb(49, 21, 18);
    padding: 2rem 3rem;
    color: white;
    display: flex;
    justify-content: space-between;
    flex: 1 0 calc(15% - 1rem);
    line-height: 2;
}

.contenido-footer h3 {
    margin: 0 0 1rem 0;
}

.abouts table {
    margin-top: 2rem;
}

.iconos {
    font-size: 2rem;
}

.iconos i {
    margin-left: 1rem;
}